/* font */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-mint: #2af598;
  --color-sky: #009efd;
  --color-slate: #566270;
  --color-charcoal: #283444;
  --color-abyss: #081323;
  --color-gray: #828282;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  margin-inline: auto;
}
